.b1 {
    background-color: var(--background-color);
    border: black;
}

.b2{
    background-color: var(--background-color2);
    border: black;
}

.b3{
    background-color: blue;
    border: 1px solid black;
}

.b4{
    background-color: white;
    border: 1px solid black;
}