.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p20 {
    padding: 20px;
}

.p30 {
    padding: 30px;
}

.pl20 {
    padding-left: 30px;
}
.pr40{
    padding-right: 40px;
}

.pt20 {
    padding-top: 50px;
}

.pb20 {
    padding-bottom: 20px;
}

.m0 {
    margin: auto;
}
.m1{
    margin-left: auto;
    margin-right: auto;
}

.m5 {
    margin: 5px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.m10 {
    margin: 10px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}
.ml50 {
    margin-left: 50px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb50 {
    margin-bottom: 50px;
}

.mr20 {
    margin-right: 20px;
}

.mr50{
    margin-right: 50px;
}

.m20 {
    margin: 20px;
}

.ml20 {
    margin-left: 20px;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt135 {
    margin-top: 135px;
}

.mb20 {
    margin-bottom: 20px;
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container{
    max-width: 1400px;
    margin: auto;
    width: 100%;
}

.imageAvatar {
    border-radius: 40px;
    width: 50px;
    height: 50px;
}

.decoNone{
    text-decoration: none;
    color: var(--text-color);
}

.positionFixed {
    position: fixed;
    z-index: 53;
    border: solid 2px;
}

.s10 {
    height: 50px;
    width: 200px;
}

.imageRecette {
    width: 200px;
    height: 200px;
}

.dnone {
    display: none;
  }


.scroll-on-hover {
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 12ch;
  }
  
  .scroll-text {
    display: inline-block;
    animation: scroll linear infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-play-state: paused;
  }
  
  .scroll-on-hover:hover .scroll-text {
    animation-play-state: running;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .fs30 {
    font-size: 40px;
  }

  .imageAvatar{
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .width200{
    width: 200px;
  }

  .pRelative{
    position: relative;
  }

  .cw{
    color: white;
    box-shadow: var(--box-shadow2);
    margin-top: 20px;
  }