:root {
    --primary : #a4c395;
    --secundary : #e6b85bcd;
    --gray-1 : #F4FBF4;
    --gray-2 : #7f8c8d;
    --red : #eb553a65;
    --light-grey : #ecf0f1;
    --text-color : #2c3e50;
    --color-logo : #a5cd78;
    --background-color : #cad0cb;
    --background-color2 : #494e4a;
    --background-color-transparent : #d9e1cecb;
    --background-color3 : rgba(244, 251, 244, 0.8);
    --error :#FFA6A6;
    --divider : #16a085;
    --divider2 : #16a0843b;
    --divider3 : #0e5f4f3b;
    --font-family: 'Patrick Hand', cursive;
    --box-shadow:  0 1px 2px 0 #cad0cb, 0 1px 3px 1px #cad0cb;
    --box-shadow-nav:  0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --box-shadow2: 4px 8px 12px 2px #cad0cb;
    --box-shadow3: 8px 0px 12px 0px #cad0cb;
    --box-shadow4:  0 1px 2px 0 #a4c395, 0 1px 3px 1px #a4c395;

}