:root {
    --primary : #A4C395;
    --gray-1 : #F4FBF4;
    --gray-2 : #7f8c8d;
    --red : #eb553a65;
    --light-grey : #ecf0f1;
    --text-color : #2c3e50;
    --background-color : #D9D9D9;
    --background-color2 : #D9E1CE;
    --background-color-transparent : #d9e1ceab;
    --background-color3 : rgba(244, 251, 244, 0.8);
    --error :              #FFA6A6;
    --divider : #16a085;
    --divider2 : #16a0843b;
    --font-family: 'Patrick Hand', cursive;
    --box-shadow:  0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --box-shadow-nav:  0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --box-shadow2: 4px 8px 12px 2px rgba(0,0,0,0.59);

}