@use "../../assets/styles/mixins" as mixin;

.header {
  padding: 0px 20px;
  box-shadow: var(--box-shadow);
  color: var(--primary);

  img {
    margin-top: 33px;
    width: 300px;
    @include mixin.xs {
      width: 150px;
    }
  }

  .desktopHeader {
    @include mixin.xs {
      display: none;
    }

    button {
      border-radius: 0 0 10px 10px;
      min-width: 70px;
      height: 35px;
      padding: 0px 10px;
      cursor: pointer;

      &:hover {
        box-shadow: 2px -8px 25px 2px rgba(0, 0, 0, 0.22);
        transition: 0.2s opacity;
        opacity: 0.8;
      }
    }
  }

  .te {
    @include mixin.sm {
      display: none;
    }
  }

  i {
    font-size: 1.8rem;
    display: none;
    cursor: pointer;

    @include mixin.xs {
      display: block;
    }
  }
}
