
.containerBanniere {

    background-color: var(--background-color3);
    box-shadow: var(--box-shadow2);
    border-radius: 20px;
    height: 400px;
    width: auto;

    img {
        height: 100%;
        width: 40%;
        border-radius: 20px;
        padding: 10px;
    }

    .imageAvatar {
        height: 70px;
        width: auto;

    }

    .logoTime {
        height: 70px;
        width: 70px;
    }
}