.menuContainer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    background-color: var(--light-grey );
    z-index: 50;
    li{
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 0.2s, color 0.2s;
        margin: 10px;
        display: flex;
        justify-content: center;
        &:hover{
            background-color: var(--primary);
            color: aliceblue;
        }
    }
    .butt {
        width: 180px;
        height: 50px;
    }
}