@use '../../../assets/styles/mixins.scss' as mixin;

.menuContainer{
    position: fixed;
    bottom: 5px;
    right: 0px;
    width: 100%;
    background-color: var(--background-color);
    z-index: 50;
    @include mixin.smin{
        display:none
        }

    li{
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 20px;
        transition: background-color 0.2s, color 0.2s;
        margin: 10px;
        display: flex;
        justify-content: center;
        &:hover{
            background-color: var(--primary);
            color: aliceblue;
        }
    }

    button {
        border-radius: 10px;
        width: auto;
        @include mixin.xs{
            width: 30px;
            height: 30px;
            }
        &:hover {
            box-shadow: 2px -8px 25px 2px rgba(0,0,0,0.22);
            transition: 0.2s opacity;
            opacity: 0.8;
        }
    }

}